* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  background: rgba(22, 26, 43);
}
#container {
  min-height: 100vh;
  display: flex;
}
.left-half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 450px;
}
.right-half {
  display: flex;
  background-color: white;
  border-radius: 16px;
  margin: 10px;
  flex: 1;
  min-width: 630px;
}
.left-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 390px;
  margin-top: 100px;
}
.right-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-color: white;
  margin: 50px;
}
#options-button {
  color: white;
  z-index: 1;
  background-color: #3c3f54;
  max-height: 20px;
  padding: 14px;
  margin: 20px;
  border-radius: 8px;
  position: fixed;
}
.header {
  color: white;
  font-size: 20px;
}
.text {
  color: grey;
  font-size: 1rem;
  margin-top: 0.75rem;
}
.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background: #3c3f54;
  opacity: 0.5;
  padding: 1rem;
  padding-left: 1.3rem;
  border-width: 0.5px solid;
  border-radius: 1rem;
  gap: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  color: white;
  margin-top: 40px;
}
input {
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background: #3c3f54;
  color: white;
}
::placeholder {
  color: white;
}
#project_text {
  display: flex;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 40px;
  gap: 0.5rem;
}
#left-text {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
#right-text {
  color: grey;
  font-size: 0.8rem;
  margin-left: 0.8rem;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 500px;
  min-height: 400px;
  text-align: center;
  margin-top: 1rem;
  gap: 18px;
  margin-left: -10px;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.box-height {
  min-height: 110px;
}
.box-height > span {
  color: #8a8c95;
}
#box-1 {
  min-width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  max-height: 100px;
  font-size: 30px;
  border-radius: 16px;
  background-image: linear-gradient(315deg, #d19592 0%, #c81f70 80%);
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
#box-2 {
  min-width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  max-height: 100px;
  font-size: 30px;
  border-radius: 16px;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
#box-3 {
  min-width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  max-height: 100px;
  font-size: 30px;
  border-radius: 16px;
  background-color: #6e72fc;
  background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
#box-4 {
  min-width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  max-height: 100px;
  font-size: 30px;
  border-radius: 16px;
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
#box-5 {
  min-width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  max-height: 100px;
  font-size: 30px;
  border-radius: 16px;
  background-color: #f5df2e;
  background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
#box-6 {
  min-width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  max-height: 100px;
  font-size: 30px;
  border-radius: 16px;
  background-color: #393d53;
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
.header1 {
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #3c3f54;
  font-weight: bold;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -10px;
}
.header1 > i {
  background-color: white;
  color: grey;
  border-radius: 50%;
  justify-content: center;
  padding: 10px;
}
#lorem_text {
  color: grey;
  margin-top: 10px;
}
.content-box {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  width: 100%;
  overflow: auto;
  margin-top: 30px;
}
.header2 {
  font-size: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #3c3f54;
}
.today-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border: none;
}
.today-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#id_span {
  margin-left: 30px;
}
.today-container > div > i {
  color: #33dad9;
  background-color: white;
  font-size: 20px;
  line-height: 10px;
}
.today-container > div > input {
  max-width: 120px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  margin-left: auto;
}
.change1::placeholder {
  color: #33dad9;
  background-color: #e1f5f4;
}
.change2::placeholder {
  color: #2ea9fd;
  background-color: #e3effd;
}
.change3::placeholder {
  color: #f7c1af;
  background-color: #fdefe9;
}
.change4::placeholder {
  color: darkgray;
  background-color: #eceef0;
}
.upcoming-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-color: white;
  justify-content: flex-start;
}
.upcoming-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.upcoming-container > div > i {
  color: darkgrey;
  background-color: white;
  font-size: 20px;
  line-height: 10px;
}
#upcoming-container_span {
  margin-left: 30px;
}
.upcoming-container > div > input {
  max-width: 120px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  margin-left: auto;
  border: none;
}
#plus-symbol {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: #8a4ec7;
  border-radius: 12px;
  padding: 14px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
/* RESPONSIVE CSS */

@media only screen and (max-width: 1040px) and (min-width: 784px) {
  #container {
    flex-direction: column;
  }
  .left-half {
    min-width: 400px;
  }
  .left-container {
    width: 450px;
    margin-top: 50px;
  }
  #options-button {
    padding: 14px;
    border-radius: 10px;
  }
  .header {
    font-size: 1.3rem;
  }
  .text {
    font-size: 1.3rem;
  }
  .input-wrapper {
    font-size: 1.2rem;
  }
  input {
    font-size: 1.2rem;
  }
  #left-text {
    align-items: baseline;
  }
  #right-text {
    font-size: 1rem;
  }
  .flex-container {
    justify-content: space-between;
    max-width: 100%;
  }
  .box-height > span {
    font-size: 1.2rem;
  }
  .right-half {
    min-width: unset;
  }
  .header1 {
    font-size: 2rem;
  }
  #lorem_text {
    font-size: 1.3rem;
  }
  .content-box {
    margin-top: 20px;
  }
  .header2 {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  #id_span {
    font-size: 1.3rem;
  }
  .today-container > div > i {
    font-size: 1.5rem;
  }
  .today-container > div > input {
    max-width: 140px;
    border-radius: 14px;
    font-size: 1.3rem;
  }
  .upcoming-container > div > i {
    font-size: 1.5rem;
  }
  #upcoming-container_span {
    font-size: 1.3rem;
  }
  .upcoming-container > div > input {
    max-width: 140px;
    border-radius: 14px;
    font-size: 1.3rem;
  }
  #plus-symbol {
    padding: 12px;
  }
}

@media only screen and (max-width: 650px) and (min-width: 320px) {
  #container {
    flex-direction: column;
  }
  .left-half {
    min-width: 320px;
  }
  #plus-symbol {
    padding: 10px;
  }
  #left-text {
    margin-top: 20px;
    position: relative;
    justify-content: center;
  }
  #project_text {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
    margin-top: 1rem;
    gap: 18px;
  }
  .box-height {
    max-width: 40%;
    width: calc(40% - 10px);
  }
  #box-1 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-image: linear-gradient(315deg, #d19592 0%, #c81f70 80%);
    color: white;
    font-size: 25px;
    margin: 0;
  }
  #box-2 {
    min-width: 100xp;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    margin: 0;
  }
  #box-3 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    margin: 0;
  }
  #box-4 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    margin: 0;
  }
  #box-5 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-color: #f5df2e;
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    margin: 0;
  }
  #box-6 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-image: #393d53;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    margin: 0;
  }
  .right-half {
    min-width: 320px;
  }
  .right-container {
    width: 100%;
    margin: 10px;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
  .header2 {
    margin-top: 10px;
  }
  .upcoming-container > div > input {
    max-width: 70px;
    font-size: 0.8rem;
  }
  .today-container > div > input {
    max-width: 70px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 808px) and (min-width: 640px) {
  #container {
    flex-direction: column;
  }
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-left: 0;
  }
  #right-text {
    font-size: 1rem;
  }
  #box-1 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-image: linear-gradient(315deg, #d19592 0%, #c81f70 80%);
    color: white;
    font-size: 25px;
    margin: 0;
  }
  #box-2 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    color: white;
    font-size: 25px;
    margin: 0;
  }
  #box-3 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    color: white;
    font-size: 25px;
    margin: 0;
  }
  #box-4 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
    color: white;
    font-size: 25px;
    margin: 0;
  }
  #box-5 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-color: #f5df2e;
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
    color: white;
    font-size: 25px;
    margin: 0;
  }
  #box-6 {
    min-width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    background-image: #393d53;
    color: white;
    font-size: 25px;
    margin: 0;
  }
}
